@import '../../../../Assets/style.less';
.Detail--Top__Bar {
    margin-left: 3.5%;
    width: 29%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.Layout--Detail__Clears {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
}
.Layout--Detail__Image {
    width: 4%;
    height: auto;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 2%;
    flex-grow: 1;
}
.Detail--Image {
    width: 100%;
}
.Main--Info {
    width: 4%;
    height: auto;
    flex-grow: 2;
    margin: 2%;
    margin-left: 0%;
}
.Layout--Right {
    height: 100px;
    margin: 2%;
    margin-left: 0%;
    margin-right: 6%;
    border: black solid;
    flex-grow: 1;
}
.Info--Title {
    width: 75%;
    font-size: 125%;
    font-weight: bold;
    margin: 0;
}
.Get--Price__Info {
    padding: 2%;
    border: solid #f5f7fa;
    margin: 2%;
    margin-left: 0%;
    height: auto;
    background-color: #f5f7fa;
}
.Get--Price__Title {
    display: flex;
    justify-content: space-between;
}
.Get--Price {
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #888;
    line-height: 21px;
    margin-right: 5px;
}
.Latest--Price {
    color: #2e8ae6;
}
.Price--Box {
    display: flex;
    border: white solid;
    margin: 1%;
    margin-left: 0%;
    margin-right: 0%;
    height: 70px;
    padding: 1%;
    background-color: white;
}
.Product--Price {
    height: 27px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #e64545;
    line-height: 27px;
}
.Product--Pieces {
    display: flex;
}
.Piece {
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #222;
    line-height: 18px;
}
.Piece--Title {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #777;
    line-height: 18px;
}
.Separator--Line {
    height: auto;
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-left: 1px solid #e6ecf2;
}
.Bottom--Line {
    border-bottom: 1px solid #e9eef4;
}
.Product--Property {
    color: #888;
    padding-bottom: 15px;
    padding-right: 20px;
    vertical-align: top;
}
.Prod--Prop {
    color: #222;
    padding-bottom: 15px;
    vertical-align: top;
    word-break: keep-all;
    word-wrap: break-word;
}
.Prod--Props {
    display: flex;
}
.sample-order-info {
    display: flex;
}
.Price--Property {
    font-size: 14px;
    line-height: 21px;
    color: #e64545;
    font-weight: bold;
}
.Buying--Condition {
    color: #888;
    font-size: 14px;
    line-height: 21px;
}
.Request--Sample {
    color: #1470cc;
}
