@import '~antd/dist/antd.less';
.App {
    background: #e3e4e6;
}
.header {
    flex-direction: column;
    position: sticky;
    z-index: +3;
    top: 0%;
    background-color: white;
    width: 100%;
    height: 120px;
    display: flex;
}
.madeiniran {
    display: inline-flex;

    display: flex;

    width: 14%;
}
.Header--Dropdown__Menu {
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    margin-right: 65px;
    justify-content: flex-end;
}
.Header--Dropdown {
    margin-top: 0.5%;
    flex-direction: row;
    color: black;
    display: flex;
    margin-left: 31px;
    align-items: center;
}
.Header--Search__Tab {
    margin-bottom: -29px;
    margin-left: 15%;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.Search--Tab__Item:hover {
    color: #f44336;
}
.Header--Search__Box {
    display: flex;
    flex-direction: row;
}
.Search--Box {
    width: 58%;
    margin-top: 36px;
    margin-left: 225px;
}
.Header--Button__Container {
    display: flex;
    margin-left: 60px;
    margin-top: 43px;
}
.Sign--Container {
    margin-right: 40px;
}
.Sign--Join__Button {
    margin-left: 45px;
    margin-top: -40px;
}
.Sign--Button:hover {
    color: #f44336;
}
.Join--Button:hover {
    color: #f44336;
}
.Inquiry--Button {
    margin-left: 45px;
    margin-top: -30px;
}
.Inquiry--Button:hover {
    color: #f44336;
}
.H1 {
    display: flex;
    justify-content: space-between;
    padding-right: 58px;
    flex-direction: row-reverse;
    width: 505px;
    margin: -151px;
    margin-top: 10px;
    margin-right: unset;
}

.Body1 {
    background-color: white;
    margin: 60px;
    height: 533px;
    margin-top: 90px;
}
.First--Body__Left--Container {
    margin-top: -65px;
    width: 20%;
    height: 411px;
    background-color: white;
    padding: 6px;
}
.First--Body__Left--Container__Dropdown {
    margin: 18px;
    width: 265px;
    display: flex;
    flex-direction: column;
}
.Left--Container__Title {
    font-size: 19px;
}
.Left--Container__Title:hover {
    color: #f44336;
    cursor: pointer;
}

.Left--Container__Dropdown {
    color: #555;
    margin: 5px;
    font-size: 12px;
}
.Last--Left__Container--Dropdown {
    color: #1470cc;
}
.Body1_2 {
    width: 55%;
    margin: auto;
    margin-top: -390px;
}
.Body1_3 {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 3%;

    width: 55%;
    margin: auto;
}

.Body1_3_1 {
    display: flex;
    flex: 1.5;
    border: solid;
    flex: 1.5;
    margin: 1%;
    margin-left: 0;
    color: #5bcf5b;
    background-color: #5bcf5b;
}
.Body1_3_2 {
    display: flex;
    flex: 1;
    border: solid;
    margin: 1%;

    color: #5bcf5b;
    background-color: #5bcf5b;
}
.Body1_3_3 {
    display: flex;
    flex: 1;
    border: solid;
    margin: 1%;
    color: #5bcf5b;
    background-color: #5bcf5b;
}
.Body1_3_4 {
    display: flex;
    flex: 1;
    border: solid;
    margin: 1%;
    margin-right: 0;
    color: #5bcf5b;
    background-color: #5bcf5b;
    height: 125px;
}
.First--Body__Right--Container {
    width: 22%;
    height: 490px;
    background-color: white;
    margin-left: auto;
    margin-top: -505px;
}
.First--Body__Right--Container__Item {
    margin: 18px;
    width: 265px;
    display: flex;
    flex-direction: column;
}
.Right--Container__Title {
    font-size: 19px;
    margin-top: 1px;
}
.Right--Container__Title:hover {
    color: #f44336;
    cursor: pointer;
}
.Right--Container__Dropdown {
    color: #555;
    margin: 5px;
    font-size: 12px;
}
.Right--Container__Items {
    display: flex;
    margin: 3px;
}
.Text--Item {
    margin-top: 11px;
    margin-left: 11px;
}
.Type--Of__Products {
    color: black;
}
.Number--Of__Products {
    color: #555;
    font-size: 12px;
}
.Text--Item:hover .Type--Of__Products {
    color: #f44336;
}
.Text--Item:hover .Number--Of__Products {
    color: #f44336;
}
.Add--Products__Container {
    margin-top: 27px;
    display: inline-grid;
}
.Add--Products__Question {
    color: #555;
}
.Add--Products__Button {
    width: -webkit-fill-available;
    margin-right: auto;
    border-width: thin;
}
.Add--Products__Button:hover {
    background-color: #f44336;
    color: white;
}
.Icon_Bar {
    position: fixed;
    top: 50%;
    border: solid;
    margin-left: 96%;
    z-index: +3;
    height: 211px;
    width: 53px;
    color: brown;
    background-color: brown;
}
.Body2 {
    background-color: rgb(245, 255, 56);

    margin: 20px;
    height: 694px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}
/* .image-title {
    padding-top: 20px;
    padding-left: 20px;
} */
.Body2_image1 {
    display: flex;
    flex: 6;
    margin: 30px;
    margin-right: 0;
}
.Body2_image2 {
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-right: 0;
    margin-top: 0;
}
.image1 {
    display: inline-flex;
    height: 217px;
    display: flex;
    flex: 1;
    width: 89%;
}
.image2 {
    display: inline-flex;
    height: 217px;
    display: flex;
    flex: 1;
    width: 89%;
}
.image3 {
    display: inline-flex;
    height: 217px;
    display: flex;
    flex: 1;
    width: 89%;
}
.image4 {
    display: inline-flex;
    height: 217px;
    display: flex;
    flex: 1;
    width: 89%;
}
.image5 {
    display: inline-flex;
    height: 217px;
    display: flex;
    flex: 1;
    width: 89%;
}
.image6 {
    display: inline-flex;
    height: 217px;
    display: flex;
    flex: 1;
    width: 89%;
}

.image-text {
    display: flex;
    justify-content: center;
}

.Body3 {
    background-color: rgb(245, 255, 56);
    margin: 20px;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex: 1;
}
.image31 {
    display: flex;
    flex: 1;
    width: 281px;
    height: 499px;
}
.Body3_2_1 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 249px;
}
.Body3_2_2 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 250px;
}
.image3_1 {
    display: flex;
    width: 25%;
}
.image3_2 {
    display: flex;

    width: 25%;
}
.image3_3 {
    display: flex;

    width: 25%;
}

.image3_4 {
    display: flex;

    width: 25%;
}

.Body4 {
    background-color: rgb(245, 255, 56);
    margin: 20px;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex: 1;
}
.image41 {
    display: flex;
    flex: 1;
    width: 281px;
    height: 499px;
}
.Body4_2_1 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 249px;
}
.Body4_2_2 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 250px;
}
.image4_1 {
    display: flex;
    width: 25%;
}
.image4_2 {
    display: flex;

    width: 25%;
}
.image4_3 {
    display: flex;

    width: 25%;
}

.image4_4 {
    display: flex;

    width: 25%;
}

.Body5 {
    background-color: rgb(245, 255, 56);
    margin: 20px;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex: 1;
}
.image51 {
    display: flex;
    flex: 1;
    width: 281px;
    height: 499px;
}
.Body5_2_1 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 249px;
}
.Body5_2_2 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 250px;
}
.image5_1 {
    display: flex;
    width: 25%;
}
.image5_2 {
    display: flex;

    width: 25%;
}
.image5_3 {
    display: flex;

    width: 25%;
}

.image5_4 {
    display: flex;

    width: 25%;
}

.Body6 {
    background-color: rgb(245, 255, 56);
    margin: 20px;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex: 1;
}
/* .Body6_1 {
    border: white solid;

} */
