@import '~antd/dist/antd.less';

.App {
    background: #f0f1f2;
}
.BlackLink {
    color: black;
    cursor: pointer !important;
}
.BlackLink:hover {
    color: #f44336 !important;
}
.GrayLink {
    color: #555 !important;
    cursor: pointer !important;
}
.GrayLink:hover {
    color: #f44336 !important;
}

// .Icon_Bar {
//     position: fixed;
//     top: 50%;

//     font-size: 27px;
// }
// .Pull--Request__Icon {
//     border: solid #73ace6;
//     border-radius: 5px;
//     height: 50px;
//     padding-top: 9px;
//     background-color: #73ace6;
//     color: white;
//     width: 47px;
//     margin-left: 18%;
// }
// .Live--Chat__Icon {
//     border-radius: 8px;
//     border: solid #73ace6;
//     margin-top: 4px;
//     width: 30px;
//     height: 50px;
//     padding-top: 9px;
//     background-color: #73ace6;
//     color: white;
//     width: 47px;
//     margin-left: 18%;
// }
// .Download--Icon {
//     border-radius: 8px;
//     border: solid #73ace6;
//     margin-top: 4px;
//     width: 30px;
//     height: 50px;
//     padding-top: 9px;
//     background-color: #73ace6;
//     color: white;
//     width: 47px;
//     margin-left: 18%;
// }

// .Arrow--BackUp__Icon {
//     border-radius: 8px;
//     border: solid #73ace6;
//     margin-right: -7.5%;
//     margin-bottom: 9%;
//     background-color: #73ace6;
//     color: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 21px;
//     width: 3.5%;
//     height: 6%;
// }

// .Arrow--Up__Icon {
//     border-radius: 8px;
//     border: solid #73ace6;
//     margin-top: 4px;
//     height: 51px;
//     padding: 9px;
//     background-color: #73ace6;
//     color: white;
//     width: 47px;
//     margin-right: -98px;
//     margin-bottom: 76px;
// }
.Pull--Request__Icon {
}

@media (max-width: 991px) {
    .Icon_Bar {
        display: none;
    }
}
