@import '~antd/dist/antd.less';

.App {
    background: #f0f1f2;
}
.App h2 {
    display: flex;
    justify-content: center;
}
.Header {
    flex-direction: column;
    position: sticky;
    z-index: +3;
    top: 0%;
    background-color: white;
    width: 100%;
    height: 120px;
    display: flex;
}
.Made_In_Iran {
    display: inline-flex;

    display: flex;

    width: 14%;
}
.Header--Dropdown__Menu {
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    margin-right: 65px;
    justify-content: flex-end;
}
.Header--Dropdown {
    margin-top: 0.5%;
    flex-direction: row;
    color: black;
    display: flex;
    margin-left: 31px;
    align-items: center;
}
.Header--Search__Tab {
    margin-bottom: -29px;
    margin-left: 15%;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.Search--Tab__Item:hover {
    color: #f44336;
}
.Header--Search__Box {
    display: flex;
    flex-direction: row;
}
.Search--Box {
    width: 58%;
    margin-top: 36px;
    margin-left: 225px;
}
.Header--Button__Container {
    display: flex;
    margin-left: 60px;
    margin-top: 43px;
}
.Sign--Container {
    margin-right: 40px;
}
.Sign--Join__Button {
    margin-left: 45px;
    margin-top: -40px;
}
.Sign--Button:hover {
    color: #f44336;
}
.Join--Button:hover {
    color: #f44336;
}
.Inquiry--Button {
    margin-left: 45px;
    margin-top: -30px;
}
.Inquiry--Button:hover {
    color: #f44336;
}
.H1 {
    display: flex;
    justify-content: space-between;
    padding-right: 58px;
    flex-direction: row-reverse;
    width: 505px;
    margin: -151px;
    margin-top: 10px;
    margin-right: unset;
}

.Body1 {
    background-color: white;
    margin: 60px;
    height: 533px;
    margin-top: 90px;
}
.First--Body__Left--Container {
    margin-top: -65px;
    width: 20%;
    height: 411px;
    background-color: white;
    padding: 6px;
}
.First--Body__Left--Container__Dropdown {
    margin: 18px;
    width: 265px;
    display: flex;
    flex-direction: column;
}
.Left--Container__Title {
    font-size: 19px;
}
.Left--Container__Title:hover {
    color: #f44336;
    cursor: pointer;
}

.Left--Container__Dropdown {
    color: #555;
    margin: 5px;
    font-size: 12px;
}
.Last--Left__Container--Dropdown {
    color: #1470cc;
}
.Body1_2 {
    width: 55%;
    margin: auto;
    margin-top: -390px;
}
.Body1_3 {
    display: flex;
    width: 55%;
    margin: auto;
    margin-top: -125px;
}

.Body1_3_1 {
    display: flex;
    flex: 1.5;
    margin: 1%;
    margin-left: 0;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}
.Arrow--Icon {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 20px;
    font-size: 27px;
    animation-name: arrow_icon;
    animation-duration: 1.2s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes arrow_icon {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0px;
    }
}
.Body1_3_2 {
    display: flex;
    flex: 1;

    margin: 1%;

    background-color: #f5f5f5;
}
.Body1_3_3 {
    display: flex;
    flex: 1;

    margin: 1%;
    background-color: #f5f5f5;
}
.Body1_3_4 {
    display: flex;
    flex: 1;

    margin: 1%;
    margin-right: 0;
    background-color: #f5f5f5;
    height: 125px;
}

.Arrow--Icon:hover {
    cursor: pointer;
}
.First--Body__Right--Container {
    width: 22%;
    height: 490px;
    background-color: white;
    margin-left: auto;
    margin-top: -366px;
}
.First--Body__Right--Container__Item {
    margin: 18px;
    width: 265px;
    display: flex;
    flex-direction: column;
}
.Right--Container__Title {
    font-size: 19px;
    margin-top: 1px;
}
.Right--Container__Title:hover {
    color: #f44336;
    cursor: pointer;
}
.Right--Container__Dropdown {
    color: #555;
    margin: 5px;
    font-size: 12px;
}
.Right--Container__Items {
    display: flex;
    margin: 3px;
}
.Text--Item {
    margin-top: 11px;
    margin-left: 11px;
}
.Type--Of__Products {
    color: black;
}
.Number--Of__Products {
    color: #555;
    font-size: 12px;
}
.Text--Item:hover .Type--Of__Products {
    color: #f44336;
}
.Text--Item:hover .Number--Of__Products {
    color: #f44336;
}
.Add--Products__Container {
    margin-top: 27px;
    display: inline-grid;
}
.Add--Products__Question {
    color: #555;
}
.Add--Products__Button {
    width: -webkit-fill-available;
    margin-right: auto;
    border-width: thin;
}
.Add--Products__Button:hover {
    background-color: #f44336;
    color: white;
}
.Icon_Bar {
    position: fixed;
    top: 50%;
    margin-left: 96%;
    z-index: 3;
    height: 272px;
    width: 50px;
    font-size: 27px;
}
.Pull--Request__Icon {
    border: solid #73ace6;
    border-radius: 8px;
    margin-top: 4px;
    width: 30px;
    height: 50px;
    padding-top: 9px;
    background-color: #73ace6;
    color: white;
    width: 47px;
    margin-left: 18%;
}
.Live--Chat__Icon {
    border-radius: 8px;
    border: solid #73ace6;
    margin-top: 4px;
    width: 30px;
    height: 50px;
    padding-top: 9px;
    background-color: #73ace6;
    color: white;
    width: 47px;
    margin-left: 18%;
}
.Download--Icon {
    border-radius: 8px;
    border: solid #73ace6;
    margin-top: 4px;
    width: 30px;
    height: 50px;
    padding-top: 9px;
    background-color: #73ace6;
    color: white;
    width: 47px;
    margin-left: 18%;
}

.Arrow--Up__Iconn {
    border-radius: 8px;
    border: solid #73ace6;
    height: 51px;

    background-color: #73ace6;
    color: white;
    width: 46px;
    margin-right: -100px;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

// .Arrow--Up__Icon {
//     border-radius: 8px;
//     border: solid #73ace6;
//     margin-top: 4px;
//     height: 51px;
//     padding: 9px;
//     background-color: #73ace6;
//     color: white;
//     width: 47px;
//     margin-right: -98px;
//     margin-bottom: 76px;
// }
.Body2 {
    background-color: white;
    margin: 60px;
    height: 694px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.Body2_image1 {
    display: flex;
    margin: 30px;
    margin-top: 45px;
}
.Body2 h2 {
    margin-top: 30px;
    margin-left: 32px;
    margin-bottom: -11px;
}
.sss {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.Body2_image2 {
    display: flex;
    margin: 30px;
    margin-top: 15px;
}
.image1 {
    height: 190px;
    width: 90%;
    cursor: pointer;
    transform: 0.3s ease-out;
}
.image1:hover {
    width: 91%;
    height: 200px;
}

.image-text {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.image-text:hover {
    color: #f44336;
    cursor: pointer;
}
.Body3 {
    background-color: white;
    margin: 60px;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex: 1;
}
.image31 {
    display: flex;
    flex: 1;
    width: 281px;
    height: 499px;
}
.Body3_2_1 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 249px;
}
.Body3_2_2 {
    display: flex;
    flex-direction: row;
    flex: 4;
    height: 250px;
}
.image3_1 {
    display: flex;
    width: 25%;
}
.image3_2 {
    display: flex;

    width: 25%;
}
.image3_3 {
    display: flex;

    width: 25%;
}

.image3_4 {
    display: flex;
    width: 25%;
}

.Body6 {
    margin: 60px;
    height: 384px;
}
.Sourcing--Theme {
    width: 100%;
    height: 384px;
}
.Body6 {
}
.Sourcing--Text {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    margin-top: -350px;
    margin-left: 65px;
    justify-content: space-between;
}
.Sourcing--Text span:hover {
    color: #f44336;
}

.Sourcing--Form {
    background-color: white;
    height: 327px;
    width: 580px;
    margin: 10px;
}
.Sourcing--Form h2 {
    margin: 15px;
}
.Form--Text {
    display: flex;
    width: 93%;
    margin: 20px;
}
.Form--Textarea {
    height: 96px;
    display: flex;
    width: 93%;
    margin: 20px;
    margin-top: 0px;
}
.Input--Quantity {
    width: 30%;
    margin-left: 21px;
}
.Form--Option__Sourcing {
    width: 30%;
    margin-left: 21px;
}
.Form--Item {
    display: flex;
}
.Options--Group {
    width: 100%;
}
.Options--Group:hover {
    color: black;
}
.Form--Button {
    margin-left: 21px;
    width: 198px;
    margin-top: 21px;
}
.Form--Button:hover {
    color: white;
}
.Solution--Item {
    margin-right: 5px;
    background-color: white;
    width: 370px;
    height: 383px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.Solution--Link:hover {
    color: white;
    mix-blend-mode: darken;
    opacity: 0.9;
}
.Solution--Link {
    position: relative;

    width: 0.5;
    height: 60%;
    padding: 14px 5px 1px 11px;

    color: white;
    margin-top: -230px;
    text-align: left;
    margin-left: 0px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    );
}
.Solution--Banner {
    opacity: 2;
    width: 324px;
}

.Solution--Link h1 {
    color: white;
}
.Solutions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 60px;
    margin-bottom: 40px;
}
.Solution--List {
    display: flex;
}

.Solution--Prods {
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
}
.Prods--Item:hover {
    color: #f44336;
    mix-blend-mode: darken;
    opacity: 0.9;
}
.Prods--Pic {
    width: 80px;
    height: 80px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    overflow: hidden;
}
.Prods--Pic:hover {
    filter: saturate(0.1);
}
.Trade--Show {
    background-color: white;
    margin: 60px;
    height: 533px;
    margin-top: 40px;
    text-align: center;
    padding-top: 17px;
}
.Trade--Body__Steps {
    margin-left: 50%;
    height: 371px;
    margin-top: 17px;
}
.Trade--Body {
    display: flex;
}
.Trade--Body__Image {
    margin: 16px;
    width: 537px;
    margin-right: -574px;
}
.Trade--Header {
    display: flex;
    margin-left: 369px;
}
.Trade--More__Button {
    margin-left: 260px;
    margin-top: 25px;
}
.Hot--Items__List {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.Hot--Item {
    color: #888;
    font-size: 12px;
}
.Hot--Item:hover {
    color: #f44336;
}
.Hot--Items__Title {
    margin-left: 30px;
}
.Footer {
    background: #e3e4e6;
    height: 650px;
}
.Footer--Links {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.Footer--Links__Groups h4 {
    color: #555;
}
.Footer--Links__Groups h4:hover {
    color: #f44336;
}
.Footer--Links__Items {
    height: 56px;
    width: 210px;
    background-color: #d7d8d9;
    margin-left: -100px;
    margin: 10px;
}
.Footer--Links__Items:hover {
    background-color: #cacbcc;
}
.Product--Alert {
    height: 56px;
    width: 210px;
    background-color: #cacbcc;
    margin-left: -100px;
    margin: 10px;
}
.Footer--Links__col h3 {
    margin-left: 35px;
    color: #888;
    margin-top: 15px;
}
.Footer--Soft__Social--Media {
    display: flex;
    justify-content: space-around;
    margin: 4px;
    align-items: baseline;
}
.Soft--Social__Icon {
    color: #1470cc;
    font-size: 20px;
}
.Footer--App {
    display: flex;
    justify-content: space-around;
    margin: 4px;
}
.App--Store__Link {
    background: #4d4d4d;
    color: white;
    padding: 4px;
    margin: 3px;
    border-radius: 2px;
}
.Google--Play__Link {
    background: #690;
    color: white;
    padding: 4px;
    margin: 3px;
    border-radius: 2px;
}
.Footer--App__Title {
    margin: 7px;
}
.Footer--Social__Icon {
    font-size: 20px;
}
.Footer--Social {
    display: flex;
    align-items: center;
}
.Footer--Simple__Links--Group {
    color: #666;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.Simple__Links--Group__Item:hover {
    color: #f44336;
}
.Simple__Links--Group__Item {
    padding: 4px;
}
.Footer--Simple__Links--Groups {
    color: #666;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10px;
}
