@import '../../../../../../../Assets/style.less';
.Company--Profile__H2 {
    font-weight: bold;
    padding-left: 2%;
}
.Pro--List {
    border: solid 1px #e6ecf2;
    height: 200px;
    margin: 2%;
}
.Pro--List__Pic {
    height: 100px;
}

.First--Layout__Child button {
    width: 96%;
    margin: 2%;
    border: solid 1px #ced3d9;
    background-color: #f5f7fa;
    margin-top: 0;
    padding: 2%;
    cursor: pointer;
}
.First--Layout__Child button:hover {
    background-color: #e6ecf2;
}
.First--Layout__Table {
    display: flex;
}
.Com--Profile__Info {
    width: 40%;
}
.Com--Info__Table {
    margin-top: 4%;
    margin-left: 3%;
    padding: 2%;
    padding-top: 0;
}
.Product--Prop__Title {
    color: #888;
    padding-bottom: 15px;
    padding-right: 20px;
    vertical-align: top;
    text-align: left;
    font-weight: 500;
}
.Prod--Prop span {
    color: #1470cc;
    cursor: pointer;
}
.Prod--Prop span:hover {
    color: #e64545;
}
.First--Layout__Child {
    display: flex;
    flex-direction: column;
}
.View--All__less {
    display: block;
    color: #1470cc;
    cursor: pointer;
    padding-top: 2%;
    width: 7%;
}
.View--All__less:hover {
    color: #e64545;
}

.Glasses--Description__Paragraph {
    padding: 2%;
}
